/* GLOBAL */
:root {
  --black: #1b1a17;
  --white: #f7f7f7;
  --red: #ee524f;
  --blue: #2fa4ff;
  --green: #28df99;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #9cfd88, #90c9ff);
}

/* APP */
.App {
  text-align: center;
  margin: 1rem;
}

/* USERSLIST */
.title {
  padding: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 100%;
  transition: all 320ms ease-in-out;
}
.title:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}
.UsersList {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 21rem), 1fr));
  padding: 0;
  margin: 0;
  gap: 1rem;
}
.card {
  padding: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  transition: all 320ms ease-in-out;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}
.card__ctn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}
.card__content {
  line-height: 1;
}
.card__buttons button {
  font-size: 1.2rem;
  margin-left: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.fa-pencil {
  padding: 10px;
  border-radius: 0.25rem;
  background-color: rgb(228, 228, 228);
  color: var(--blue);
}
.fa-trash {
  color: var(--red);
  padding: 10px;
  border-radius: 0.25rem;
  background-color: rgb(228, 228, 228);
}
