/* GLOBAL */
:root {
  --black: #1b1a17;
  --gray: #2c394b;
  --white: #f7f7f7;
  --red: #ee524f;
  --blue: #2fa4ff;
  --green: #28df99;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/* APP */
.App {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}
