/* GLOBAL */
:root {
  --black: #1b1a17;
  --gray: #2c394b;
  --white: #f7f7f7;
  --red: #ee524f;
  --blue: #2fa4ff;
  --green: #28df99;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

/* APP */
.App {
  text-align: center;
  margin: 1rem;
}

/* USERSLIST */
.title {
  padding: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 100%;
}
.UsersList {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  padding: 0;
  margin: 0;
  gap: 1rem;
}
/* ARREGLAR TITLE */
/* FALTA EL FORM */

.card {
  padding: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
